.menu {
	position: sticky;
	position: -webkit-sticky;
	top: 10px;
	width: 100%;
	background:#142b47;
	overflow: auto;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 60px;
}

.menu li {
	float: left;
}

.menu ul li a{
	background:#142b47;
	text-decoration: none;
	width: 130px;
	display: block;
	text-align: center;
	color:#f2f2f2;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 0.5px;
}

.menu li a:hover {
	color: #fff;
	opacity: .5;
	font-size:19px0;
}

.cart_button {
	float: right;
	cursor: pointer;
	position: relative;
	margin-top: 7px;
	margin-right: 25px;
}

.search-form {
	margin-top: 15px;
	margin-bottom: 15px;
	float: right;
	margin-right: 50px;
}

input[type=text] {
	padding: 7px;
	border:none;
	font-size: 16px;
	font-family: sans-serif;
	border-radius: 5px 0 0 5px;
}

input[type=submit] {
	float:right;
	background:orange;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position:relative;
	padding: 7px;
	font-family: sans-serif;
	border: none;
	font-size: 16px;
}
