body {
	background-color:orange;
	min-height: auto;
	font-family: Georgia, serif;
}

div.img-wrapper {
	position: relative;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 75%;
}

div.img-wrapper:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: .3s;
}

div.img-wrapper img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 5px;
	text-align: center;
}

#mySidebar,
#myModal {
	display: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 0;
  padding-top: 100px;
  right: 20%;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  display: none;
  z-index: 1;
  color:#142b47; 
  width:20%; 
  height: 100%; 
  float:right; 
  background:gray;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.main-content {
	width: 80%;
	margin: auto;
	border: 3px solid #142b47;
	min-height: auto;
	background-color: lightgray;
	position: relative;
}
