body {
	background-color:lightgray;
	min-height: auto;
	font-family: Georgia, serif;
	font-size: 17px;
	padding: 8px;
}

* {
	box-sizing: border-box;
}
div.image-wrapper {
	position: relative;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.image-wrapper:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: .3s;
}

div.image-wrapper img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 5px;
	text-align: center;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.cursor {
	cursor: pointer;
}

#mySidebar,
#myModal {
	display: hidden;
}

.modal {
	display: none;
	position: fixed;
	z-index: 0;
	right: 25%;
	top: 0;
	width: 75%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
	position: absolute;
	top: 25%;
	left: 5%;
	margin: auto;
	vertical-align: middle;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

#mySidebar {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px;
	display: none;
	z-index: 1;
	color:#142b47; 
	width:25%; 
	height: 100%; 
	float:right; 
	background:orange;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.main-content {
	width: 80%;
	margin: auto;
	border: 3px solid orange;
	min-height: auto;
	background-color: #142b47; 
	position: relative;
}

/*styling for checkout*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}