body {
	background-color:#001433;
	font-family: Georgia, serif;
}

.main-content {
	width: 70%;
	margin: auto;
	border: 1px solid #142b47;
	min-height: auto;
	background-color: lightgray;
	position: relative;
}
