body {
	background-color: lightgray;
}
img {
	align-self: center;
	width: 225px;
	height: 150px;
}
h1, h3, em {
	color:white;
	font-family: Verdana;
}
p, em {
	font-size: 30;
}
#_head {
	padding:10px;
	color:black;
}
.about {
	padding: 20px;
	opacity: .5;
	background-color: grey;
}
.about:hover {
	opacity: 1;
	background-color: lightblue;
}