body {
	background-color: lightgray;
}
img {
	padding: 5px;
	width: 800px;
	height: 600px;
}
h1, h3, em {
	color:darkgray;
	font-family: Verdana;
}
p, em {
	font-size: 40;
}
#_head {
	padding:10px;
}
.about {
	padding: 15px;
	opacity: .5;
	background-color: grey;
}
.about:hover {
	opacity: 1;
	background-color: lightblue;
}