h1, h3 {
	text-align: center;
	font-color:white;
	font-family: "Georgia", serif:;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: darkgray;
}

header {
	background-color: #008CBA;
	padding-bottom: 20px;
	padding-top: 20px;
}

* {
	box-sizing: border-box;
}

.art-featured {
	position: relative;
}

.art-slide {
	display: none;
}

.next, .prev {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	height: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.slide-info {
	color: black;
	font-size: 32px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.art-title {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
	width: 16.66%;
}

.mini {
	opacity: .6;
	cursor: pointer;
}

.mini:hover {
	opacity: 1;
}

input {
	background-color: black;
	padding: 5px 10px;
	color: #008CBA;
	border: 2px solid #008CBA;
	border-radius: 5px;
	margin: 10px;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

input:hover {
	background-color: #008CBA;
	color: black;
}

/* curtusy of https://designmodo.com/shopping-cart-ui/ for the following code*/
.shopping_cart {
	width: 750px;
	height: 423px;
	margin: 80px auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
	border-radius: 6px;

	display: flex;
	flex-direction: column;
}

.title {
	height: 60px;
	border-bottom: 1px solid #E1E8EE;
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	font-weight: 400;
}
 
.bag_item {
	padding: 20px 30px;
	height: 120px;
	display: flex;
}
 
.bag_item:last-child {
	border-top:  1px solid #E1E8EE;
	border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.rm {
	width: 18px;
	height: 17px;
	background: url(&quot;delete-icn.svg&quot;) no-repeat center;
	display: inline-block;
  	Cursor: pointer;
}

.is-active {
	animation-name: animate;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-timing-function: steps(28);
	animation-fill-mode: forwards;
}
 
@keyframes animate {
	0%   { background-position: left;  }
	50%  { background-position: right; }
	100% { background-position: right; }
}

.image {
	margin-right: 50px;
}

.description {
	padding-top: 10px;
	margin-right: 60px;
	width: 115px;
}
 
/*.description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
}
 
.description span:first-child {
 	margin-bottom: 5px;
}
.description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939E;
}*/

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus_btn img {
  margin-bottom: 3px;
}
.plus_btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.bag_item_total_price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}