body {
	background-color: lightblue;
	font-size: 10;
}
div {
	padding: 25px;
	font-weight: normal;
}
div:hover {
	font-weight: bold;
}
#d1 {
	background-color:red;
	font-size: 15;
}
#d2 {
	background-color:yellow;
	font-size: 20;
}
#d3 {
	background-color:green;
	font-size: 35;
}

.buttonForm {
	padding: 25px;
}
